/* Write your code here. */
.app-container {
  padding: 20px;
  height: 100vh;
  background-color: #f1f5f8;
  background-size: cover;
}
.faqs-container {
  border-radius: 15px;
  box-shadow: 0px 4px 16px 0px #bfbfbf;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}
h1 {
  color: #cb8805;
  font-family: 'roboto';
  text-align: center;
}
ul {
  list-style: none;
  padding: 0;
}
